{% extends "base.html" %}
{% block title %} | Login {% endblock %}
{% block content %}
<form class="form-group col-md-7 col-lg-7 login-form" method="POST" action="{% url 'account:login' %}" data-endpoint='{% url "account:login" %}' href='{% url "travel:home" %}'>
    <h1 id="login">Login</h1>
    <div id="errors">
    </div>
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field.errors }}
        {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}
        <button class="btn btn-info" type="submit">Submit</button>
</form>
{% endblock %}