{% extends "base.html" %}
{% load static %}

{% block title %} | Login {% endblock %}
{% block content %}


{% url 'account:register' as register_url %}
{% url 'home' as home_url %}


<!-- navbar section -->
<nav class="navbar navbar-expand-sm navbar-dark rounded">
    <div class="container">
        <a class="navbar-brand d-none d-md-inline" href="{{ home_url }}">
            <img src="{% static 'img/airplane_logo.png'%}" alt="airplane logo">
        </a>
        <h3 class="">Welcome to Travel Buddy!</h3>
        <!-- Hamburger button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    Not Registered Yet?
                    <a href="{{ register_url }}" class="btn btn-warning ml-2">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="login-form mb-5">
    <form class="form-group col-md-7 col-lg-7 login-form m-auto" method="POST" action="{% url 'account:login' %}"
        data-endpoint='{% url "account:login" %}' href='{% url "travel:home" %}'>
        <h1 id="login" class="text-center">Please Login</h1>
        <div id="errors">
        </div>
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field.errors }}
            {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <button class="btn btn-info" type="submit">Submit</button>
    </form>
</div>

{% endblock %}