{% extends "base.html" %}
{% block title %} | Login {% endblock %}
{% block content %}
<form class="form-group col-md-7 col-lg-7" action="{% url 'account:login' %}" method="POST">
    <h1>Login</h1>
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group row">
        {{ field.label_tag }}
        {{ field.errors }}
        {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}

    <div class="form-group row">
        <button class="btn btn-info" type="submit">Submit</button>
    </div>
</form>
{% endblock %}