* {
  margin: 0px auto;
}

body{
  /* background-color: #0f121f; */
  color: #000;
  background-image: url(../../local_static/img/fly_with_me.jpg);
  /* background-image: url(../img/fly_with_me.jpg); */
  /* background-image: url(../img/window.jpg); */
  /* background-image: url(/static/travel_buddy/img/window.jpg); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.navbar img {
  width: 60px;
  margin: 10px 20px;
}
