{% extends 'base.html' %}

{% load staticfiles %}

{% block body %}

  <div id='add_new' class="container">

    <div class="trip_add">
      <h2>{{ request.session.name }}, Add a Trip</h2>
      <div class="registration_messages">
        {% if messages %}
          {% for message in messages %}
          <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
          {% endfor %}
        {% endif %}
      </div>
      <form id="add_new_trip" class="form-group" action="/process_add" method="post">
        {% csrf_token %}
        Destination:<input type="text" name="location" value="">
        Description:<input type="text" name="description" value="">
        Travel Date From: <input id="start_datepicker" type="date" name="start_date" min="2018-05-21" value="" required>
        Travel Date To: <input id="end_datepicker" type="date" name="end_date" min="2018-05-21" value="" required>
        <input class="btn btn-success" type="submit" name="submit_dest" value="Add Destination">
      </form>
    </div>
  </div>

{% endblock %}
  
{% block extra_js %}
<script src="{% static 'travel_buddy/js/add_trip.js' %}"></script>
{% endblock %}
