{% extends 'base.html' %}

{% block body %}

{% load crispy_forms_tags %}

  <div class="main_container">
    <div class="row">

      <div class="registration">
        <h2>Registration</h2>
        <div class="registration_messages">
          {% if messages %}
          {% for message in messages %}
          {% if 'register' in message.tags %}
          <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
        <form class="form-group" action="travels/process_reg" method="post">
          {% csrf_token %}
          Name:<input type="text" name="name" value="">
          Username:<input type="text" name="username" value="">
          Password: <input type="password" name="passwd" value="">
          Confirm Password: <input type="password" name="pass_confirm" value="">
          <input class="btn btn-warning" type="submit" name="submit_reg" value="Register">
        </form>
      </div>

      <div class="login">
        <h2>Login</h2>
        <div class="login_messages">
          {% if messages %}
          {% for message in messages %}
          {% if 'login' in message.tags %}
          <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
        <!-- <form class="form-group" action="travels/process_login" method="post">
          {% csrf_token %}
          Username: <input type="text" name="username" value="">
          Password: <input type="password" name="passwd" value="">
          <input class="btn btn-warning" type="submit" name="submit_log" value="Login">
        </form> -->

        <form action="travels/process_login" method="post">
          {% csrf_token %}
          {{ form | crispy }}
          <input class="btn btn-warning" type="submit" name="submit_log" value="Login">

        </form>
      </div>
    </div>
  </div>

{% endblock %}
