<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travel Buddy</title>
    {% load static %}
    <!-- LOAD JQuery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- LOAD BOOTSTRAP  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <!-- LOAD CSS STYLESHEET -->
    <link rel="stylesheet" href="{% static 'travel_buddy/css/travel_styles.css' %}">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="navbar">
          <a class="navbar-brand" href="/travels">
            <img src="{% static 'travel_buddy/img/airplane_logo.png'%}" alt="airplane logo">
          </a>
          <h3>Hello, {{ request.session.name }}</h3>
          <a href="travels/logout"><button class="btn btn-danger" type="button" name="logout_btn">Logout</button></a>
        </div>
      </div>

      <div class="container">

        <div class="user_trips">
          <h4 class="text-center">Your Scheduled Trips</h4>
          <div class="table_container">
            <table class="table table-dark text-center" >
              <thead>
                <tr >
                  <th scope="col">#</th>
                  <th scope="col">Destination</th>
                  <th scope="col">Travel Start Date</th>
                  <th scope="col">Travel End Date</th>
                  <th scope="col">Plan</th>
                </tr>
              </thead>
              <tbody>
              {% for location in my_trips %}
                <tr>
                  <th scope="row"># | <a href="/travels/leave_trip/{{ location.id }}">Remove</a></th>
                  <td><a href="/travels/destination/{{ location.id }}">{{ location.location }}</a></td>
                  <td>{{ location.start_date }}</td>
                  <td>{{ location.end_date }}</td>
                  <td>{{ location.description }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="row">
            <!-- <a href="/travels/add"><button class="add_trip_btn btn btn-warning" type="button" name="button">Add Travel Plan</button></a> -->

            <button id='add_trip_btn' class="btn btn-warning" type="button" name="button">Add Travel Plan</button>

            <button id="ajax_btn" class="btn btn-success" type="button" name="button">AJAX Testing</button>
          </div>

          <div class="form_container">
            <h1>Demo 3 - Ajax Form II</h1>
            <h2>Create a new trip</h2>
            <form id="add_trip_ajax_form" class="form-group" action="/process_add" method="post">
              {% csrf_token %}
              Destination:<input type="text" name="location" value="">

              Description:<input type="text" name="description" value="">

              Travel Date From:<input id="start_datepicker" type="date" name="start_date" min="2018-05-21" value="" required>

              Travel Date To:<input id="end_datepicker" type="date" name="end_date" min="2018-05-21" value="" required>

              <input class="btn btn-success" type="submit" name="submit_dest" value="Add Destination">
            </form>

            <div id='placeholder3' style='margin-top:35px; border:1px solid silver; width:750px; padding:10px;'>
                Placeholder for the Ajax Form part II
            </div>
          </div>


        </div>



        <div class="others_trips">
          <h4 class="text-center pad">Other User's Travel Plans</h4>
          <div class="table_container">
            <table class="table table-dark text-center">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Destination</th>
                  <th scope="col">Travel Start Date</th>
                  <th scope="col">Travel End Date</th>
                  <th scope="col">Do you want to Join?</th>
                </tr>
              </thead>
              <tbody>
              {% for others in all_trips %}
                <tr>
                  <td>{{ others.planner.name }}</td>
                  <td><a href="/travels/destination/{{ others.id }}">{{ others.location }}</a></td>
                  <td>{{ others.start_date }}</td>
                  <td>{{ others.end_date }}</td>
                  <td><a href="/travels/join_trip/{{ others.id }}"><button class="btn btn-warning">Join</button></a></td>
                  <!-- <form class="form-group" action="travels/join_trip" method="post">
                    {% csrf_token %}
                    <td><button class="btn btn-warning">Join</button></td>
                  </form> -->
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- ADD JQuery/JavaScript code -->
    <script type="text/javascript">
      $(document).ready(function() {

        $('.form_container').hide();

        $('#add_trip_btn').click(function() {
          console.log("add trip form toggled");
          $('.form_container').slideToggle("blind");
        });


        $('#ajax_btn').click(function() {
          console.log("ajax button clicked");
          $.ajax({
            url: 'travels/ajax_testing',
            success: function(serverResponse) {
              console.log("success, Server Response: ", serverResponse);
            }
          })
        });

        $('#add_trip_ajax_form').submit(function(e) {
          e.preventDefault();
          console.log("ajax form submission");
          $.ajax({
            url: $(this).attr('action'),
            method: 'post',
            data: $(this).serialize(),
            success: function(serverResponse) {
              console.log("success, Server Response: ", serverResponse);
              $('#placeholder3').html(serverResponse)
            }
          })
        })



      });
    </script>


  </body>
</html>
