body {
  /* background-color: #0f121f; */
  /* background-image: url(/static/travel_buddy/img/fly_with_me.jpg); */
  background-image: url(/static/travel_buddy/img/window_light.jpg);
  /* background-image: url(/static/travel_buddy/img/window.jpg); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

#errors {
  color: darkred;
  font-weight: bold
}

.navbar {
  /* background: #aaa; */
  margin-bottom: 20px;
}

.navbar img {
  width: 60px;
}


.this_destination, .others_this_destination {
  background: rgba(233, 248, 252, 0.7);
  padding: 10px 20px;
  border-radius: 15px;
  border: 2px solid black;
}

.others_this_destination {
  text-align: center;
}
