{% extends 'base.html'%}
{% load static %}

{% block title %} | Dashboard {% endblock %}

{% block content %}

{% url 'home' as home_url %}
{% url 'account:login' as login_url %}
{% url 'travel:home' as home_url %}
{% url 'logout' as logout_url %}


<!-- Navbar Section -->
    <div class="wrapper">
      <div class="header">
        <!-- NAV Bar -->
        <div class="navbar">
          <a class="navbar-brand" href="{{ home_url }}">
            <img src="{% static 'img/airplane_logo.png'%}" alt="airplane logo">
          </a>
          <h3>Hello, {{ user.first_name }}</h3>
          <a href="{{ logout_url }}"><button class="btn btn-danger" type="button" name="logout_btn">Logout</button></a>
        </div>
      </div>
      <!-- Main Content -->
      <div class="container">

        <div class="user_trips" id="Testing">
        {% if user_trips %}
          <h4 class="text-center">Your Scheduled Trips</h4>
          <div class="table_container">
            <table class="table table-dark text-center" >
              <thead>
                <tr >
                  <th scope="col">#</th>
                  <th scope="col">Destination</th>
                  <th scope="col">Travel Start Date</th>
                  <th scope="col">Travel End Date</th>
                  <th scope="col">Plan</th>
                </tr>
              </thead>
              <tbody>
              {% for location in my_trips %}
                <tr>
                  <th scope="row"><a href="/travels/leave_trip/{{ location.id }}">Remove</a>
                    {%if location.planner.id == request.session.id%}
                    | <a class="#" href="/travels/remove_trip/{{location.id}}">Delete</a>
                    {% endif %}
                  </th>
                  <td><a href="/travels/destination/{{ location.id }}">{{ location.location }}</a></td>
                  <td>{{ location.start_date }}</td>
                  <td>{{ location.end_date }}</td>
                  <td>{{ location.description }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}

          <div class="row">
            <a href="/travels/add"><button class="add_trip_btn btn btn-warning" type="button" name="button">Add Travel Plan</button></a>
          </div>
        </div>


        <div class="others_trips">
          <h4 class="text-center pad">Other User's Travel Plans</h4>
          <div class="table_container">
            <table class="table table-dark text-center">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Destination</th>
                  <th scope="col">Travel Start Date</th>
                  <th scope="col">Travel End Date</th>
                  <th scope="col">Do you want to Join?</th>
                </tr>
              </thead>
              <tbody>
              {% for others in all_trips %}
                <tr>
                  <td>{{ others.planner.name }}</td>
                  <td><a href="/travels/destination/{{ others.id }}">{{ others.location }}</a></td>
                  <td>{{ others.start_date }}</td>
                  <td>{{ others.end_date }}</td>
                  <td><a href="/travels/join_trip/{{ others.id }}"><button class="btn btn-warning">Join</button></a></td>
                  <!-- <form class="form-group" action="travels/join_trip" method="post">
                    {% csrf_token %}
                    <td><button class="btn btn-warning">Join</button></td>
                  </form> -->
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
